<!-- this launchfile starts the engine node -->

<launch>
  <!--Load parameters -->

  <!-- start general visualization -->
  <node name="leftTankEngine" pkg="lego_car_engine" type="left_tank_engine.py" output="log" />
  <node name="rightTankEngine" pkg="lego_car_engine" type="right_tank_engine.py" output="log" />

</launch>